name: flutter_singbox_vpn
description: A Flutter plugin for Sing-Box VPN by TecClub. Provides complete VPN functionality with traffic stats, logging, and per-app tunneling.
version: 1.1.1
homepage: https://tecclubx.com
repository: https://github.com/TeccClubb/flutter_singbox

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.tecclub.flutter_singbox
        pluginClass: FlutterSingboxPlugin
      ios:
        pluginClass: FlutterSingboxPlugin